body{
  font-size: 80%;
    /* font-family: "Courier New", Courier, monospace; */
    letter-spacing: .05em;
    background-color: #efefef;
  }
  #page{
    max-width: 1000px;
    min-width: 700px;
    margin: 10px auto 25px auto;
    padding: 20px;
    border: 4px double #000;
    background-color:rgb(133, 187, 248);  
  }
  h1{
    color: rgb(19, 43, 36);
    font-family: 'Luckiest Guy' ;
    text-align: center;
    padding: 5px;
    border: 1px solid black;
    font-size: 2.2em;
    width:400px;
    margin: 10px auto 10px auto;
    box-shadow: 5px 5px 5px #222222;
    background-color:rgba(253, 165, 216,0.6);
  }
  h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 1.5em;
    width:300px;
    margin: 10px auto 10px auto;
    text-align: center;
    box-shadow: 5px 5px 5px #222222;
    color: rgba(253, 165, 216,1);
    background-color:rgb(19, 43, 36);
    
  }
  p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: cetner;
    width: 600px;
    margin: 20px auto 20px auto;
    font-weight: normal;
  }
  ol{
    text-align: center;
    list-style-position: inside;
    list-style-type: decimal;
    margin: 0px auto 0px auto;
    padding-right: 40px;
    line-height: 16px; 
  }
  ul{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    list-style-position: inside;
    /* list-style: square inside; */
    line-height: 16px;
    margin: 0px auto 0px auto;
  
  }
  .city{
    padding: 8px;
    /* line-height: 20px; */
    font-size: 18px;
    font-weight: bold;
  }
  a{
    color: rgb(0,0,0);
    text-transform: uppercase;
    text-decoration: none;
  }
  a:hover, a.on{
    color: rgb(0, 0, 0);
    background-color: rgb(203, 223, 144);
  }
  img{
    border-radius: 10px;
    display: block;
    margin-left: 25%;
    margin-right:50%;
    width: 50%;
  }
  #nav-bar{
    width: 570px;
    padding: 15px;
    margin: 0px auto 0px auto;
    border-top: 1px solid rgb(0,0,0);
    border-bottom: 1px solid rgb(0,0,0);
    text-align: center;  
  }
  #nav-bar li{
    display: inline;
    margin: 0px 3px;
  }
  #author{
    font-style: italic;
  }
  th{
    padding:5px;
    font-weight: bold;
    font-size: 12px;
  }
  td{
    background-color: rgba(253, 165, 216,0.6);;
    border: 1px solid black;
    padding:5px;
    font-weight: bold;
    font-size: 18px;
  }
.italic{
  font-style: italic;
}
label{
  font-size: 16px
}

input{
  padding: 5px;
  width: 100px;
  border: 4px dashed rgba(253, 165, 216,1);
  border-radius: 4px;
}
/* #salmon img{
float: left;

} */